version: "3.9"

services:
  web:
    build:
      context: "todo-list-shareable-frontend"
    image: "todo-list-shareable-frontend:${IMAGE_TAG}"
    container_name: "${WEB_CONT_NAME}"
    ports:
      - "${WEB_PORT}:8080"
  api:
    build:
      context: "todo-list-shareable-backend"
    image: "todo-list-shareable-backend:${IMAGE_TAG}"
    container_name: "${API_CONT_NAME}"
    ports:
      - "${API_PORT}:3000"
    depends_on:
      - "postgres-service"
    environment:
      - DB_CONNECTION_STRING=Server=${DB_CONT_NAME},1433;User ID=sa;Password=yourStrongP@ssword;MultipleActiveResultSets=True;

  postgres-service:
    image: postgres:latest
    container_name: postgres-container
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: pg_db
      POSTGRES_PASSWORD: appdbpassword
    volumes:
      - /var/lib/postgres
      - ./dbscripts/postgres:/docker-entrypoint-initdb.d

volumes:
  weatherData: