version: "3.9"

services:
#  web:
#    build:
#      context: "stodo-list-shareable-frontend"
#    image: "localhost:7002/web:${IMAGE_TAG}"
#    container_name: "${WEB_CONT_NAME}"
#    ports:
#      - "${WEB_PORT}:80"
#    environment:
#      - API_URL=${API_URL}
  api:
    build:
      context: "todo-list-shareable-backend"
    image: "localhost:7002/api:${IMAGE_TAG}"
    container_name: "${API_CONT_NAME}"
    ports:
      - "${API_PORT}:80"
    expose:
      - 3264
    #    depends_on:
#      - "postgres-service"
#    environment:
#      - DB_CONNECTION_STRING=Server=${DB_CONT_NAME},1433;Initial Catalog=WeatherForecast;User ID=sa;Password=yourStrongP@ssword;MultipleActiveResultSets=True;

#  postgres-service:
#    image: postgres:latest
#    container_name: postgres-container
#    ports:
#      - 55432:5432/tcp
#    environment:
#      POSTGRES_DB: pg_db
#      POSTGRES_PASSWORD: appdbpassword
#    volumes:
#      - /var/lib/postgres
#      - ./dbscripts/postgres:/docker-entrypoint-initdb.d

volumes:
  weatherData: