version: "3.9"

services:
  web:
    build:
      context: "todo-list-shareable-frontend"
    image: "localhost:7002/web:${IMAGE_TAG}"
    container_name: "${WEB_CONT_NAME}"
    ports:
      - "${WEB_PORT}:8080"
  api:
    build:
      context: "todo-list-shareable-backend"
    image: "localhost:7002/api:${IMAGE_TAG}"
    restart: always
    container_name: "${API_CONT_NAME}"
    ports:
      - "${API_PORT}:3000"
    depends_on:
      - "postgres-service"
    environment:
      - DB_CONNECTION_STRING=Server=${DB_CONT_NAME},1433;User ID=postgres;Password=postgres;MultipleActiveResultSets=True;

  postgres-service:
    image: postgres:latest
    container_name: postgres-container
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: task-management
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - /var/lib/postgres
      - ./dbscripts/postgres:/docker-entrypoint-initdb.d

volumes:
  weatherData: