version: "3.9"

services:
  web:
    build:
      context: "todo-list-shareable-frontend"
    image: "localhost:7002/web:${IMAGE_TAG}"
    container_name: "${WEB_CONT_NAME}"
    ports:
      - "${WEB_PORT}:80"
    environment:
      - API_URL=${API_URL}

volumes:
  weatherData: